name: Review

on:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'LICENSE'
      - '**.md'

permissions:
  contents: read
  pull-requests: write

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Dependency review
        uses: actions/dependency-review-action@v4
        with:
          fail-on-severity: moderate
          deny-licenses: GPL-2.0, GPL-3.0
          comment-summary-in-pr: on-failure